body{
    background-color: bisque;
}
h2{
    text-align: center;
    font-size: 28px;
    border-bottom: 3px solid red;
}

ul{
    text-align: center;
}
ul li{
  list-style-type: none;
    border: 1px solid silver;
    border-radius: 10px;
    padding: 10px 40px;
    margin: 20px;
}
.false{
  background-color: red;
}

.true{
  background-color: green;
}
